body {
}

.pantallaCompleta
{
    height:100%; width:100%;
    position:absolute; 
    margin:0;
    padding:0;
}


/*=================================================================================*/
/*                               Estados                                           */
/*=================================================================================*/

.invisible
{
    visibility:hidden;
    height:0px !important;    
    padding:0px !important;
}

.visible
{
    visibility:visible;
}

.ocultar
{
    display:none ;
}

.mostrar
{
    display:block ;
}

.alineadoDerecha
{
    margin-right:2%; float:right;
}

/*=================================================================================*/
/*                               Fuentes                                           */
/*=================================================================================*/

.textoBlanco
{
    color:#FFFFFF !important;
}

.textoError
{
    font-style: italic;
    color:rgb(255, 0, 0) !important;
}

/*=================================================================================*/
/*                               Imagenes                                          */
/*=================================================================================*/

.eliminar
{
   background-image:url('../images/eliminar.png');
   background-size:cover;
   margin-left:10px !important;  
   width:16px !important;
   height:16px !important;
}

.darDeBaja
{
   background-image:url('../images/baja.png');
   background-size:cover; 
   margin-left:10px  !important;
   width:16px !important;
   height:16px !important;
}

.darDeAlta
{
   background-image:url('../images/alta.png');
   background-size:cover;
   margin-left:10px !important;   
   width:16px !important;
   height:16px !important;
}

.contrasena
{
   background-image:url('../images/key.png');
   background-size:cover;   
   margin-left:10px !important;
   width:16px !important;
   height:16px !important;
}


.eliminar:hover, .darDeBaja:hover, .darDeAlta:hover, .contrasena:hover
{
    -webkit-transform:scale(1.2) !important; /* transicion para chrome*/
	-moz-transform:scale(1.2) !important; /* transicion para mozila*/
	-o-transform:scale(1.2) !important; /* transicion para opera*/
	-ms-transform:scale(1.2) !important; /* transicion para microsoft*/
	/*box-shadow: 0px 0px 10px rgba(0,0,0,1) !important; */
	/*opacity:1 !important;*/
}

.eliminar:hover
{
    -webkit-transform:scale(1.2) !important; /* transicion para chrome*/
	-moz-transform:scale(1.2) !important; /* transicion para mozila*/
	-o-transform:scale(1.2) !important; /* transicion para opera*/
	-ms-transform:scale(1.2) !important; /* transicion para microsoft*/
	/*box-shadow: 0px 0px 10px rgba(0,0,0,1) !important; */
	/*opacity:1 !important;*/
}


/*=================================================================================*/
/*                               Animaciones                                       */
/*=================================================================================*/

.efectoBoton img
{
	-webkit-transition: 0.8s all ease !important; /* aplica transicion enun tiempo dado*/
	-moz-transition: 0.8s all ease !important;
	-o-transition: 0.8s all ease !important;
	transition: 0.8s all ease !important;
	opacity:0.2 !important;
	border-radius:50% !important; /*140px;*/
}

.efectoBoton img :hover
{
    -webkit-transform:scale(1.2) !important; /* transicion para chrome*/
	-moz-transform:scale(1.2) !important; /* transicion para mozila*/
	-o-transform:scale(1.2) !important; /* transicion para opera*/
	-ms-transform:scale(1.2) !important; /* transicion para microsoft*/
	box-shadow: 0px 0px 10px rgba(0,0,0,0.8) !important; 
	opacity:1 !important;
	/*-webkit-transform:rotate(360deg);*/ /* transicion para chrome, no deben haber espacios*/
	
}
