@{
    Layout = null;
}
 <h2 style="margin:0 auto; text-align:center center;" > Mobiliarios </h2>
 <div id="tabla-mobiliarios">
        <table id="tabla1"  >
        </table>
        <div id="paginador-tabla1"  style="text-align:center; color:#000;"  >
        </div>
 </div>  

<script>
    CargarMobiliarios(); //Carga los electronicos la primera vez que es leido
</script>
