@{
    Layout = null;
}


<h2  > Consumibles </h2>
 <div id="tabla-consumibles">
        <table id="tabla1"  >
        </table>
        <div id="paginador-tabla1"  style="text-align:center; color:#000;"  >
        </div>
 </div>  

<script>
    CargarConsumibles(); //Carga los consumibles la primera vez que es leido
</script>
