@{
    ViewBag.Title = "denegadoV";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<script>
    $(function () {
        $('#target').load("denegado");
    }  );
</script>
<div id="target"></div>
