@{
    ViewBag.Title = "Electronicos | Control office";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";    
}

<!-- Nuevo cuadro horizontal: Botones principales  -->
<!-- Menu lateral --> 
  <div class="col-md-4  " id="menu" >    
    <blockquote >  <!-- deja un pequeño espacio entre losbotones y el borde de pantalla -->      	
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block" type="button" onclick=" $('#menu').hide('slide');  $('#subContenido').load('/electronicos/Inventario');"  >
                    <span class="glyphicon glyphicon-search"></span>
                    <strong>Ver inventario </strong>
            </button>            
        </div>  
        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="button" onclick=" $('#menu').hide('slide');   $('#subContenido').load('/electronicos/registro');"   >
	         <!--data-toggle="collapse" 
	         data-target="#V-registrar" 
	         aria-expanded="false" 
	         aria-controls="V-registrar" -->	        
              <span class="glyphicon glyphicon-plus"></span>
              <strong> Registrar </strong>
            </button>
        </div>
    </blockquote>        
  </div>
<!--  Termina menu lateral -->
<!-- subcontenido -->
   <div class="col-md-8" id="subContenido"> <!-- Celda con ventana registrar -->
   </div>
<!-- termina subcontenido -->


