@{
    Layout = null;
}

<div class="row " >
   <h2 class=" col-md-5"> Solicitudes de electrónicos </h2>
   <button class=" btn btn-default col-sm-2 " onclick=" $('#tabla1').trigger('reloadGrid'); " >
       <span class="glyphicon glyphicon-refresh"></span> Actualizar</button>
</div>

 <div id="tabla-solicitudes-electronicos" >
        <table id="tabla1"  >
        </table>
        <div id="paginador-tabla1"  style="text-align:center; color:#000;"  >
        </div>
 </div>  

<script>
    CargarSolicitudesElectronicos(); //Carga los electronicos la primera vez que es leido
</script>