@{
    Layout = null;
}

 <div id="tabla-electronicos">
        <table id="tabla1"  >
        </table>
        <div id="paginador-tabla1"  style="text-align:center; color:#000;"  >
        </div>
 </div>  

<script>
    CargarElectronicos(); //Carga los electronicos la primera vez que es leido
</script>