@{
    ViewBag.Title = "Documentos | Control office";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<!-- Nuevo cuadro horizontal: Botones principales  -->
  <div class="col-md-4  " id="menu">
    <blockquote> <!-- deja un pequeño espacio entre losbotones y el borde de pantalla -->	
        <div class="form-group">
 	        <button class="btn btn-info btn-lg btn-block" role="button" 
                 data-toggle="collapse" 
	             data-target="#sub-menu" 
	             aria-expanded="false" 
	             aria-controls="sub-menu">
	          <span class="glyphicon glyphicon-search"></span>
              <strong> Ver inventario </strong>
	        </button>
            <div id="sub-menu" class=" collapse  " style=" background-color:#5bc0de; opacity:0.8; text-align:center; ">
                <br />
                <a class="  btn-block textoBlanco "  onclick=" $('#menu').toggle('slide'); toogleClase('#boton-menu-lateral','glyphicon-chevron-right','glyphicon-chevron-left');  $('#subContenido').load('/documentos/InventarioDocumentosEnviados');" data-toggle="collapse" 
	             data-target="#sub-menu" 
	             aria-expanded="false" 
	             aria-controls="sub-menu" >
                    <span class="glyphicon glyphicon-file"></span>
                    <strong>Documentos enviados</strong>
                </a> 
                <a class="  btn-block textoBlanco " type="button" onclick=" toogleClase('#boton-menu-lateral','glyphicon-chevron-right','glyphicon-chevron-left');  $('#menu').toggle('slide');  $('#subContenido').load('/electronicos/InventarioSolicutides');"data-toggle="collapse" 
	             data-target="#sub-menu" 
	             aria-expanded="false" 
	             aria-controls="sub-menu"  >
                    <span class="glyphicon glyphicon-file"></span>
                    <strong >Documentos recibidos</strong>
                </a>
                <a class="  btn-block textoBlanco " type="button" onclick=" toogleClase('#boton-menu-lateral','glyphicon-chevron-right','glyphicon-chevron-left');  $('#menu').toggle('slide');  $('#subContenido').load('/electronicos/InventarioSolicutides');"data-toggle="collapse" 
	             data-target="#sub-menu" 
	             aria-expanded="false" 
	             aria-controls="sub-menu"  >
                    <span class="glyphicon glyphicon-file"></span>
                    <strong >Documentos generales</strong>
                </a>
                <br />
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="button" onclick=" toogleClase('#boton-menu-lateral','glyphicon-chevron-right','glyphicon-chevron-left'); $('#menu').hide('slide');   $('#subContenido').load('/documentos/registro');" >
              <span class="glyphicon glyphicon-plus"></span>
              <strong> Registrar </strong>
            </button>
        </div>
    </blockquote>
  </div>

<!--  Termina menu lateral -->
<!-- subcontenido -->
   <div class="col-md-12" id="subContenido" > <!-- Celda con ventana registrar -->
   </div>
<!-- termina subcontenido -->

